#START_DIV{
 
}

#RULES_DIV{
    display: none;
}

#END_DIV{
    display: none;
}

#GAME_DIV{
    display: none;
}

font-face { 
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
} 
    

:root{
    font-family: 'Montserrat', sans-serif;
}


